$color-1: #000000;
$color-2: #FFFFFF;
$color-3: #212121;
$color-4: #770303;
$color-5: #C40000;
$color-6: #202E33;
$color-7: #211E3B;
$color-8: #FFE4E4;
$color-9: #666666;
$color-10: #4C9FFF;

$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
